			.title {
				margin: 20px 15px 10px;
				color: #6d6d72;
				font-size: 15px;
			}
			
			nav {
				box-shadow: 0 0 0px rgba(0, 0, 0, .85) !important;
			}
			
			.oa-contact-cell.mui-table .mui-table-cell {
				padding: 11px 0;
				vertical-align: middle;
			}
			
			.mui-bar-nav {
				top: 0;
				-webkit-box-shadow: 0 1px 2px #ccc;
				box-shadow: 0 1px 2px #ccc;
			}
			
			.oa-contact-cell {
				position: relative;
				margin: -11px 0;
			}
			
			.oa-contact-avatar {
				width: 75px;
			}
			
			.oa-contact-avatar img {
				border-radius: 50%;
			}
			
			nav .mui-icon {
				font-size: 18px !important;
			}
			
		
			
			.oa-contact-content {
				width: 100%;
			}
			
			.oa-contact-name {
				margin-right: 20px;
			}
			
			.oa-contact-name,
			oa-contact-position {
				float: left;
			}
			
			.mui-content {
				height: 100% !important;
				padding-top: 0px !important
			}
			
			#tabbar {
				padding-top: 41px;
			}
			
			.iconfont {
				padding-top: 3px !important;
			}
			
			.mui-bar.mui-bar-tab {
				/*padding-top: 5px !important;*/
			}
			
			.mui-bar.mui-bar-tab .mui-active {
				color: #536FAA !important;
			}
			
		
			
			nav {
				background: #F6F7F7 !important;
			}
			
			.filter {
				-webkit-filter: blur(3px);
			}
			
			.chose {
				display: block;
				width: 33%;
				height: 70px;
				text-align: center;
				float: left;
				margin-bottom: 40px;
				color: #545454;
				font-size: 15px;
			}
			
			.chose img {
				width: 65px;
				height: 65px;
			}
			
			.choseeMune_content {
				z-index: 13;
				position: absolute;
				bottom: 100px;
				width: 100%;
				padding: 30px;
			}
			
			.choseeMune_footer {
				position: absolute;
				bottom: 0px;
				background: #FFFFFF;
				width: 100%;
				height: 54px;
				z-index: 12;
				opacity: 1;
				background-position: center;
				background-repeat: no-repeat;
				text-align: center;
				line-height: 54px;
			}
			
			#choseeMune_add {
				-webkit-filter: saturate(0.5);
				-webkit-filter: blur(10px);
				width: 100%;
				height: 100%;
				z-index: 11;
				background: white;
				position: fixed;
				top: 0px;
				left: 0px;
				opacity: 0.5;
			}
			
			.add_Chose {
				display: none;
				opacity: 0;
			}
			
			.choseeMune_footer img {
				height: 28px;
				width: 28px;
				margin-top: 12px;
			}