		header {
			background: #EEEFEF !important;
		}
		
		header .mui-title {
			font-size: 20px !important;
		}
		
		header .registered {
			font-size: 18px !important;
			margin-top: 14px;
			margin-right: 3px;
		}
		
		header a {  
			font-weight: normal;
			color: #4C4C4C;
		}
		
		.mui-action-back {
			font-size: 29px !important;
			font-weight: normal;
			margin-top: 4px;
			
		}
		
		.login .mui-table {
			border-bottom: 1px solid #E5E5E5;
			height: 50px;
			margin: 0 10px 0 10px;
			width: 92%;
			margin-left: 4%;
		}
		
		.login .mui-table .left {
			float: left;
			width: 30%;
			height: 31px;
			border-right: 1px solid #D8D8D8;
			margin-top: 10px;
		}
		
		.login .mui-table .left img {
			height: 22px;
			margin-top: ;
			float: left;
			margin-top: -1PX;
		}
		
		.login .mui-table .left span {
			font-size: 16px !important;
			color: #4361A7;
		}
		
		.login .mui-table .right {
			float: left;
			width: 70%;
			margin-top: 11px;
		}
		
		.login .mui-table .right input {
			border: 0px !important;
			height: 35px;
			margin-bottom: 0px;
			font-size: 16px;
		} 
		html,
		body,
		.mui-content {
			height: 100% !important;
		}
		
		.isline {
			height: 1px;
			background: #CDCDCD;
			line-height: 1px;
		}
		
		.seeLogin {
			text-align: center;
			color: #CDCDCD;
			font-size: 18px;
		}
		
		.box {
			margin-top: 8px;
		}
		
		.clickLogin {
			width: 88%;
			margin-left: 6%; 
		}
		
		.clickLogin button {
			height: 45px;
			line-height: 10px;
			color: white;
			background: #4361A7;
			font-size: 19px;
			border-radius: 6px !important;
		}
		
		.clickLogin .forgetpsd {
			float: right;
			color: #F48080;
			font-size: 13px;
			margin-right: 13px;
		}
		
		.otherLogin {
			color: #CDCDCD;
			font-size: 31px;
		}
		
		.botton .mui-table {
			margin-bottom: 20px;
		}
		
		header {
			box-shadow: 0 1px 0px #F5F5F5 !important;
		}